.body {
    background-color:#0f0f0f;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.video-preview-grid {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 35px;
}

p {
    font-family: Roboto;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: none;
    
}

a{
    text-decoration: none;
    
   
}

.title {
    font-weight: bold;
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
}

.name {
    color: #aaaaaa;
    margin-top: 10px;
}

.stats {
    margin-top: 5px;
    color: #aaaaaa;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-pfp {
    width: 40px;
}

.pfp {
    width: 40px;
    border-radius: 40px;
    margin-top: 10px;
}
